
    <nav class="w3-topnav w3-red" >
      <span>MOTORPOOL ONLINE VEHICLE MONITORING SYSTEM</span>
      <div class="link">
        <a onclick="document.getElementById('regModal').style.display='block'">Register</a>
        <!-- <a onclick="document.getElementById('conModal').style.display='block'">Contact Us</a> -->
      <!-- <div class="w3-container">
       <div id="conModal" class="w3-modal">
        <div class="w3-modal-content w3-animate-opacity w3-card-8">
         <header class="w3-container w3-red">
          <span onclick="document.getElementById('conModal').style.display='none'"class="w3-closebtn">&times;</span>
          <h2>Register</h2>
         </header>
        <div class="w3-container" style="color: black;">
         <h3>0900-999-9999</h3>
        </div>
       <footer class="w3-container w3-red" style="height: 50px; padding-top: 8px;"></footer>
      </div>
     </div>
   </div> -->
      </div>

     </nav>
